In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from io import StringIO

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900'

In [3]:
df = pd.read_html(url, attrs={"class": "wikitable"})[0]
print(df)

          Origin (UTC) Present-day country and link to Wikipedia article  \
0     1900-05-11 17:23                                             Japan
1     1900-07-12 06:25                                            Turkey
2     1900-10-29 09:11                                         Venezuela
3     1901-02-15 00:00                                             China
4     1901-03-31 07:11                                          Bulgaria
...                ...                                               ...
1335  2011-03-24 20:25                 Burma (see 2011 Burma earthquake)
1336  2011-04-07 14:32          Japan (see April 2011 Miyagi earthquake)
1337  2011-09-18 12:40                India (see 2011 Sikkim earthquake)
1338  2011-09-23 10:41                  Turkey (see 2011 Van earthquake)
1339  2018-08-05 19:46                 Indonesia (see Lombok earthquake)

         Lat     Long Depth (km) Magnitude Secondary Effects  \
0     38.700  141.100          5  7.0 MJMA               NaN
1     40.300   43.100        NaN   5.9 Muk               NaN
2     11.000  -66.000          0    7.7 Mw               NaN
3     26.000  100.100          0    6.5 Ms               NaN
4     43.400   28.700        NaN   6.4 Muk               NaN
...      ...      ...        ...       ...               ...
1335     NaN      NaN        NaN    6.8 Mw               NaN
1336    38.2    140.0       66.0    7.1 Mw               NaN
1337  27.723   88.064       19.7    6.9 Mw                 L
1338    38.6     43.5        7.2    7.1 Mw               NaN
1339     NaN      NaN       31.0    6.9 Mw               NaN

      PDE Shaking Deaths  PDE Total Deaths  Utsu Total Deaths  \
0                    NaN               NaN                NaN
1                    NaN               NaN              140.0
2                    NaN               NaN                NaN
3                    NaN               NaN                NaN
4                    NaN               NaN                4.0
...                  ...               ...                ...
1335                 NaN               NaN                NaN
1336                 NaN               NaN                NaN
1337                 NaN               NaN                NaN
1338                 NaN               NaN                NaN
1339                 NaN               NaN                NaN

     EM-DAT Total Deaths           Other Source Deaths
0                    NaN                           NaN
1                    NaN                           NaN
2                    NaN                           NaN
3                    NaN                           NaN
4                    NaN                           NaN
...                  ...                           ...
1335                 NaN                          150+
1336                 NaN                           NaN
1337                 NaN                          111+
1338                 NaN  601 (as of October 30, 2011)
1339                 NaN                           NaN

[1340 rows x 12 columns]

In [4]:
df['Other Source Deaths'].unique()

array([nan, '3500', '8000+', '46', '164[6]', '1500[6]', '105000', '1404',
       '1', '120', '200', '380', '2041', '33[8]', '45000[9]', '2489[10]',
       '26271[11] 26000[12]', '68', '231000*[13] 283000*[14] 227898*[15]',
       '41', '60[16]', '215', '34', '295', '79', '189', '1115',
       '222,517[17]', '521[19]', '42', '2698', '185', '15894[20]', '150+',
       '111+', '601 (as of October 30, 2011)'], dtype=object)

In [5]:
df[df['Other Source Deaths'] == '231000*[13] 283000*[14] 227898*[15]']
df[df['Other Source Deaths'] == '222,517[17]']

#print(df)

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths
1327,2010-01-12 17:00,Haiti (see 2010 Haiti earthquake),18.457,-72.533,13,7.0 Mw,NaN,NaN,NaN,NaN,NaN,"222,517[17]"

In [6]:
df.iloc[1237,-1] = '283000'
df.iloc[1327,-1] = '222517'

In [7]:
df['Other Source Deaths'].unique()

array([nan, '3500', '8000+', '46', '164[6]', '1500[6]', '105000', '1404',
       '1', '120', '200', '380', '2041', '33[8]', '45000[9]', '2489[10]',
       '26271[11] 26000[12]', '68', '283000', '41', '60[16]', '215', '34',
       '295', '79', '189', '1115', '222517', '521[19]', '42', '2698',
       '185', '15894[20]', '150+', '111+', '601 (as of October 30, 2011)'],
      dtype=object)

In [8]:
df['Other Source Deaths'] = df['Other Source Deaths'].str.extract('(\d+),*(\d*)')
df['EM-DAT Total Deaths'] = df['EM-DAT Total Deaths'].str.extract('(\d*)')
df['Magnitude'] = df['Magnitude'].str.extract('(\d+\W\d+)')
df['Lat'] = df['Lat'].str.extract('(-?\d+\W\d+)')
df['Long'] = df['Long'].str.extract('(-?\d+\W\d+)')
df['Depth (km)'] = df['Depth (km)'].str.extract('(\d+\W*\d*)')
df['Country'] = df['Present-day country and link to Wikipedia article'].str.extract('(\w+\s*\w*)')
df.drop(columns = ['Present-day country and link to Wikipedia article'], inplace = True)
print(df)

          Origin (UTC)     Lat     Long Depth (km) Magnitude  \
0     1900-05-11 17:23  38.700  141.100          5       7.0
1     1900-07-12 06:25  40.300   43.100        NaN       5.9
2     1900-10-29 09:11  11.000  -66.000          0       7.7
3     1901-02-15 00:00  26.000  100.100          0       6.5
4     1901-03-31 07:11  43.400   28.700        NaN       6.4
...                ...     ...      ...        ...       ...
1335  2011-03-24 20:25     NaN      NaN        NaN       6.8
1336  2011-04-07 14:32    38.2    140.0       66.0       7.1
1337  2011-09-18 12:40  27.723   88.064       19.7       6.9
1338  2011-09-23 10:41    38.6     43.5        7.2       7.1
1339  2018-08-05 19:46     NaN      NaN       31.0       6.9

     Secondary Effects  PDE Shaking Deaths  PDE Total Deaths  \
0                  NaN                 NaN               NaN
1                  NaN                 NaN               NaN
2                  NaN                 NaN               NaN
3                  NaN                 NaN               NaN
4                  NaN                 NaN               NaN
...                ...                 ...               ...
1335               NaN                 NaN               NaN
1336               NaN                 NaN               NaN
1337                 L                 NaN               NaN
1338               NaN                 NaN               NaN
1339               NaN                 NaN               NaN

      Utsu Total Deaths EM-DAT Total Deaths Other Source Deaths     Country
0                   NaN                 NaN                 NaN       Japan
1                 140.0                 NaN                 NaN      Turkey
2                   NaN                 NaN                 NaN   Venezuela
3                   NaN                 NaN                 NaN       China
4                   4.0                 NaN                 NaN    Bulgaria
...                 ...                 ...                 ...         ...
1335                NaN                 NaN                 150      Burma
1336                NaN                 NaN                 NaN      Japan
1337                NaN                 NaN                 111      India
1338                NaN                 NaN                 601     Turkey
1339                NaN                 NaN                 NaN  Indonesia

[1340 rows x 12 columns]

In [9]:
df['EM-DAT Total Deaths'].str.strip()
df['Magnitude'] = df['Magnitude'].astype('float64')
df['Other Source Deaths'] = df['Other Source Deaths'].astype('float64')
df['EM-DAT Total Deaths'] = df['EM-DAT Total Deaths'].astype('float64')
df['Lat'] = df['Lat'].astype('float64')
df['Long'] = df['Long'].astype('float64')
df['Depth (km)'] = df['Depth (km)'].astype('float64')

In [10]:
df['Deaths'] = df[['PDE Shaking Deaths','PDE Total Deaths','Utsu Total Deaths','EM-DAT Total Deaths',]].max(axis = 1)

In [11]:
df['Origin (UTC)'] = pd.to_datetime(df['Origin (UTC)'])

In [12]:
#df.set_index('Origin (UTC)', inplace = True)

In [13]:
df.info()
#print(df.head(50))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Origin (UTC)         1340 non-null   datetime64[ns]
 1   Lat                  1322 non-null   float64
 2   Long                 1321 non-null   float64
 3   Depth (km)           1249 non-null   float64
 4   Magnitude            1338 non-null   float64
 5   Secondary Effects    373 non-null    object
 6   PDE Shaking Deaths   738 non-null    float64
 7   PDE Total Deaths     749 non-null    float64
 8   Utsu Total Deaths    1027 non-null   float64
 9   EM-DAT Total Deaths  559 non-null    float64
 10  Other Source Deaths  37 non-null     float64
 11  Country              1340 non-null   object
 12  Deaths               1244 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 136.2+ KB

In [14]:
df['Magnitude'].value_counts()

6.8    76
6.9    61
6.5    58
7.2    57
5.6    56
       ..
2.0     1
4.0     1
2.6     1
8.7     1
9.5     1
Name: Magnitude, Length: 61, dtype: int64

In [15]:
df.query('Magnitude > 5.0 or (Magnitude < 5.0 and `Secondary Effects` == "L" and Deaths > 10)', inplace = True)

In [16]:
df[['Depth (km)', 'Deaths', 'Magnitude']].corr()

            Depth (km)    Deaths  Magnitude
Depth (km)    1.000000 -0.022549   0.144006
Deaths       -0.022549  1.000000   0.154411
Magnitude     0.144006  0.154411   1.000000

In [22]:
df.to_csv(r'..\Data\df.csv', index = True)

In [18]:
#temp1 = df.resample('Y').count()
#print(temp1)

In [19]:
#EQ Count vs country
#EQ Count vs time

#Corr deaths vs country
#corr deaths vs time